<h2 mat-dialog-title>{{ data.title }}</h2>

<form [formGroup]="form">

    <mat-dialog-content>

        <mat-form-field>
            <input matInput formControlName="name" placeholder="Name" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="lastname" placeholder="Last Name" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" required email>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="phone" placeholder="Phone" required pattern="^\d{10}$">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="calification" placeholder="Calification" required>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </mat-dialog-actions>

</form>